{{/*  Only show widget when activated in Site config and if we're looking at a apartment site  */}}
{{ $thisid := .Page.Params.apartment.id -}}
{{ $thistype := .Page.Params.apartment.type -}}
{{ if and .Site.Params.widgets.similar_apartments $thisid -}}
{{/*  get translation string for headline, based on type of current apartment  */}}
{{ $thistype_T := print $thistype "_apartments" -}}

<aside id="similar_apartments" class="widget widget_similar_apartments">
  <h3 class="widget-title">{{ T "further" }} {{ T $thistype_T }}</h3>
  <ul>
    {{ range where .Site.RegularPages "Section" "apartments" -}}
    {{/*  Only show apartment if same type and not the very same apartment  */}}
    {{ if and (eq .Params.apartment.type $thistype) (not (eq .Params.apartment.id $thisid)) -}}
    {{ $data := (index .Site.Data.apartments.apartments .Params.apartment.id) -}}
    {{/*  Get min. price per night for apartment  */}}
    {{ $allprices := slice $data.price.season_main $data.price.season_spring $data.price.season_fall $data.price.season_winter -}}
    {{ $validprices := slice -}}
    {{ range $allprices }}{{ if . }}{{ $validprices = append . $validprices}}{{ end }}{{ end -}}
    {{ $validprices := sort $validprices -}}
    {{ $minprice := index $validprices 0 -}}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      ({{ T "apartment_summary_persons" (dict "persons" $data.maxpersons) }}
      {{- with $minprice }}, {{ T "apartment_summary_price" (dict "price" .) }}{{ end }})
    </li>
    {{ end -}}
    {{ end -}}
  </ul>

  {{/*  Get type of other apartments and their translation  */}}
  {{ $othertype := "workers" }}{{ with eq $thistype $othertype }}{{ $othertype = "holiday" }}{{ end -}}
  {{ $othertype_T := T (print $othertype "_apartments" ) -}}
  <p class="other_types">{{- T "other_apartment_type_workers" (dict "type" $othertype_T "url" (relLangURL (print "/" $othertype "-apartments/"))) | markdownify }}</p>
</aside>
{{ end -}}
