<footer id="footerarea" class="clearfix">

  <div id="site-generator">
    <div class="container">
      <div class="copyright">&copy; {{now.Format "2006"}}
	{{ with .Site.Params.copyright }}{{ . | markdownify}}{{ end }}
      </div><!-- .copyright -->
      <div class="footer-right"></div><div style="clear:both;">
      </div>
    </div><!-- .container -->
  </div><!-- #site-generator -->
  <div class="back-to-top">
    <a href="#branding"></a>
  </div>
</footer>
</div><!-- .wrapper -->

{{ partial "footer_js" . }}
